
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="rodape">
		<style type="text/css">
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Mesmo tamanho do rodapé */
	margin-bottom: 56px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Altura do rodapé */
	height: 56px;
	line-height: 56px;
}
</style>
		<footer class="footer bg-light">
			<div class="container">
				<span class="text-muted text-center">&copy 2018 - Condomínio App</span>
			</div>
		</footer>
	</th:block>
</body>
</html>