
<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<!-- Meta tags -->
<meta charset="utf-8" />

<!-- CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/relatorios.css}" />
<th:block th:replace="'sindico/' + ${relatorio} :: cssAdicional" />

<title th:replace="'sindico/' + ${relatorio} :: title"></title>
</head>
<body id="sindico">
	<th:block th:replace="'sindico/' + ${relatorio} :: relatorio" />

	<!-- JavaScript -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<th:block th:replace="'sindico/' + ${relatorio} :: jsAdicional" />
</body>
</html>