
<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Moradias</title>

</head>
<body>
	<th:block th:fragment="conteudo">
		<main role="main">
		<h3 class="font-weight-light float-left">Moradias</h3>
		<div class="btn-group mb-3 float-right">
			<a class="btn btn-light" th:href="@{/sindico/moradias/cadastro}"><i class="fas fa-plus"></i> Nova</a>
			<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" th:href="@{/sindico/moradias/cadastro}">Criar moradia</a> <a class="dropdown-item" href="#">Criar em lote</a> <a class="dropdown-item" href="#">Importar</a>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover table-sm crud-list mb-0">
				<caption class="pb-0">
					<span th:text="${moradias.totalElements == 0} ? 'Nenhum' : 'Há '+${moradias.totalElements}"></span> <span th:text="${moradias.totalElements>1} ? 'moradias cadastradas' : 'moradia cadastrada'"></span>.
				</caption>
				<thead class="thead-light">
					<tr>
						<th scope="col">Bloco</th>
						<th scope="col">Sigla</th>
						<th scope="col">Tipo</th>
						<th scope="col">Fração Ideal</th>
						<th scope="col">Nº de Vagas</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="moradia : ${moradias.content}">
						<th scope="row" th:text="${moradia.bloco.sigla}"></th>
						<th scope="row" th:text="${moradia.sigla}"></th>
						<td th:text="${moradia.tipo.nome}"></td>
						<td th:text="${moradia.fracaoIdeal + ' %'}"></td>	
						<td th:text="${moradia.vagas}"></td>
						<td><a class="btn btn-outline-secondary btn-sm" th:href="@{/sindico/moradias/{idMoradia}/cadastro(idMoradia=${moradia.idMoradia},somenteLeitura)}"><i class="fas fa-eye"></i><span> Ver</span></a> <a class="btn btn-outline-primary btn-sm" th:href="@{/sindico/moradias/{idMoradia}/cadastro(idMoradia=${moradia.idMoradia})}"><i class="fas fa-edit"></i><span> Editar</span></a> <a class="btn btn-outline-danger btn-sm" data-toggle="modal" href="#modalExcluir" th:data-idobj="${moradia.idMoradia}" th:data-obs="${moradia}"><i class="fas fa-trash-alt"></i><span> Excluir</span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<nav th:if="${moradias.totalPages > 1}" id="paginacao" th:with="atual=${moradias.number+1}">
			<ul class="mt-3 mb-0 pagination pagination-sm justify-content-center justify-content-md-end">
				<li class="d-none d-sm-block page-item" th:if="${atual > 10}"><a class="page-link" th:href="@{/sindico/moradias(pagina=${atual -10},tamanho=${moradias.size})}">-10</a></li>
				<li class="page-item" th:unless="${moradias.isFirst()}"><a class="page-link first" th:href="@{/sindico/moradias(pagina=${atual -1},tamanho=${moradias.size})}"><i class="fas fa-angle-double-left"></i><span> Anterior</span></a></li>
				<li class="page-item" th:classappend="${moradias.isFirst()}?'active'"><a class="page-link" th:href="@{/sindico/moradias(pagina='1',tamanho=${moradias.size})}">1</a></li>
				<li class="page-item disabled" th:if="${atual > 3}"><a class="page-link" href="#">...</a></li>
				<li th:if="${atual > 2}" class="page-item"><a class="page-link" th:href="@{/sindico/moradias(pagina=${atual -1},tamanho=${moradias.size})}" th:text="${atual -1}"></a></li>
				<li th:unless="${moradias.isFirst() or moradias.isLast()}" class="page-item active"><a class="page-link" th:href="@{/sindico/moradias(pagina=${atual},tamanho=${moradias.size})}" th:text="${atual}"></a></li>
				<li th:if="${atual < (moradias.totalPages - 1)}" class="page-item"><a class="page-link" th:href="@{/sindico/moradias(pagina=${atual +1},tamanho=${moradias.size})}" th:text="${atual +1}"></a></li>
				<li class="page-item disabled" th:if="${atual < (moradias.totalPages - 2 )}"><a class="page-link" href="#">...</a></li>
				<li th:if="${moradias.totalPages > 1}" class="page-item" th:classappend="${moradias.isLast()}?'active'"><a class="page-link" th:href="@{/sindico/moradias(pagina=${moradias.totalPages},tamanho=${moradias.size})}" th:text="${moradias.totalPages}"></a></li>
				<li class="page-item" th:unless="${moradias.isLast()}"><a class="page-link last" th:href="@{/sindico/moradias(pagina=${atual +1},tamanho=${moradias.size})}"><span>Próxima </span><i class="fas fa-angle-double-right"></i></a></li>
				<li class="d-none d-sm-block page-item" th:if="${atual < (moradias.totalPages-9)}"><a class="page-link" th:href="@{/sindico/moradias(pagina=${atual +10},tamanho=${moradias.size})}">+10</a></li>
			</ul>
		</nav>
		</main>
		<!--/* Modal */-->
		<div th:unless="${#lists.isEmpty(moradias)}" class="modal fade" id="modalExcluir" tabindex="-1" role="dialog">
			<div class="modal-dialog  modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Confirmar Exclusão</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<form th:action="@{/sindico/moradias/excluir}" th:method="delete" novalidate>
						<input type="hidden" id="idObj" name="idObj" />
						<div class="modal-body">
							Confirma a exclusão da moradia '<span></span>'?
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-danger">Excluir</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</th:block>
<th:block th:fragment="jsAdicional"></th:block>
</body>
</html>