
<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Períodos</title>

</head>
<body>
	<th:block th:fragment="conteudo">
		<main role="main">
		<h3 class="font-weight-light float-left">Períodos</h3>
		<div class="btn-group mb-3 float-right">
			<a class="btn btn-light" th:href="@{/sindico/periodos/cadastro}"><i class="fas fa-plus"></i> Novo</a>
			<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" th:href="@{/sindico/periodos/cadastro}">Criar período</a> <a class="dropdown-item" href="#">Criar em lote</a> <a class="dropdown-item" href="#">Importar</a>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover table-sm crud-list mb-0">
				<caption class="pb-0">
					<span th:text="${periodos.totalElements == 0} ? 'Nenhum' : 'Há '+${periodos.totalElements}"></span> <span th:text="${periodos.totalElements>1} ? 'períodos cadastrados' : 'período cadastrado'"></span>.
				</caption>
				<thead class="thead-light">
					<tr>
						<th scope="col">Data inicial</th>
						<th scope="col">Data final</th>
						<th scope="col">Situação</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="periodo : ${periodos.content}">
						<th scope="row" th:text="${#temporals.format(periodo.inicio,'dd/MM/yyyy')}"></th>
						<th scope="row" th:text="${#temporals.format(periodo.fim,'dd/MM/yyyy')}"></th>
						<td th:text="${periodo.encerrado} ? 'Encerrado' : 'Em aberto'"></td>
						<td><a class="btn btn-outline-secondary btn-sm" th:href="@{/sindico/periodos/{idPeriodo}/cadastro(idPeriodo=${periodo.idPeriodo},somenteLeitura)}"><i class="fas fa-eye"></i><span> Ver</span></a> <a class="btn btn-outline-primary btn-sm" th:href="@{/sindico/periodos/{idPeriodo}/cadastro(idPeriodo=${periodo.idPeriodo})}"><i class="fas fa-edit"></i><span> Editar</span></a> <a class="btn btn-outline-danger btn-sm" data-toggle="modal" href="#modalExcluir" th:data-idobj="${periodo.idPeriodo}" th:data-obs="${periodo}"><i class="fas fa-trash-alt"></i><span> Excluir</span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<nav th:if="${periodos.totalPages > 1}" id="paginacao" th:with="atual=${periodos.number+1}">
			<ul class="mt-3 mb-0 pagination pagination-sm justify-content-center justify-content-md-end">
				<li class="d-none d-sm-block page-item" th:if="${atual > 10}"><a class="page-link" th:href="@{/sindico/periodos(pagina=${atual -10},tamanho=${periodos.size})}">-10</a></li>
				<li class="page-item" th:unless="${periodos.isFirst()}"><a class="page-link first" th:href="@{/sindico/periodos(pagina=${atual -1},tamanho=${periodos.size})}"><i class="fas fa-angle-double-left"></i><span> Anterior</span></a></li>
				<li class="page-item" th:classappend="${periodos.isFirst()}?'active'"><a class="page-link" th:href="@{/sindico/periodos(pagina='1',tamanho=${periodos.size})}">1</a></li>
				<li class="page-item disabled" th:if="${atual > 3}"><a class="page-link" href="#">...</a></li>
				<li th:if="${atual > 2}" class="page-item"><a class="page-link" th:href="@{/sindico/periodos(pagina=${atual -1},tamanho=${periodos.size})}" th:text="${atual -1}"></a></li>
				<li th:unless="${periodos.isFirst() or periodos.isLast()}" class="page-item active"><a class="page-link" th:href="@{/sindico/periodos(pagina=${atual},tamanho=${periodos.size})}" th:text="${atual}"></a></li>
				<li th:if="${atual < (periodos.totalPages - 1)}" class="page-item"><a class="page-link" th:href="@{/sindico/periodos(pagina=${atual +1},tamanho=${periodos.size})}" th:text="${atual +1}"></a></li>
				<li class="page-item disabled" th:if="${atual < (periodos.totalPages - 2 )}"><a class="page-link" href="#">...</a></li>
				<li th:if="${periodos.totalPages > 1}" class="page-item" th:classappend="${periodos.isLast()}?'active'"><a class="page-link" th:href="@{/sindico/periodos(pagina=${periodos.totalPages},tamanho=${periodos.size})}" th:text="${periodos.totalPages}"></a></li>
				<li class="page-item" th:unless="${periodos.isLast()}"><a class="page-link last" th:href="@{/sindico/periodos(pagina=${atual +1},tamanho=${periodos.size})}"><span>Próxima </span><i class="fas fa-angle-double-right"></i></a></li>
				<li class="d-none d-sm-block page-item" th:if="${atual < (periodos.totalPages-9)}"><a class="page-link" th:href="@{/sindico/periodos(pagina=${atual +10},tamanho=${periodos.size})}">+10</a></li>
			</ul>
		</nav>
		</main>
		<!--/* Modal */-->
		<div th:unless="${#lists.isEmpty(periodos)}" class="modal fade" id="modalExcluir" tabindex="-1" role="dialog">
			<div class="modal-dialog  modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Confirmar Exclusão</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<form th:action="@{/sindico/periodos/excluir}" th:method="delete" novalidate>
						<input type="hidden" id="idObj" name="idObj" />
						<div class="modal-body">
							Confirma a exclusão do período '<span></span>'?
							<div class="alert alert-danger mt-3 mb-0">Os lançamentos e orçamentos deste período, se houver, também serão excluídos.</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-danger">Excluir</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</th:block>
<th:block th:fragment="jsAdicional"></th:block>
</body>
</html>