
<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Categoria</title>

</head>
<body>
	<th:block th:fragment="conteudo">
		<main role="main">
		<h3 class="font-weight-light">Cadastro da Categoria</h3>
		<div th:unless="${haCondominio}" class="alert alert-warning">
			<h6>Condomínio não cadastrado</h6>
			Para cadastrar categorias é preciso completar o cadastro do seu condomínio, <a class="text-warning" th:href="@{/sindico/condominio/cadastro}">clique aqui</a>.
		</div>
		<p th:if="${haCondominio}" th:text="${categoria.idCategoria == null} ? 'Ao salvar, uma nova categoria será criada no condomínio.' : (${param.somenteLeitura} ? 'As informações não podem ser alteradas neste modo.' :  'Ao salvar, as informações da categoria atual serão atualizadas.')"></p>
		<form th:class="${#ctx.classe == ''}?'needs-validation'" novalidate th:action="@{/sindico/{sub}categorias/cadastro/(sub=(${#ctx.classe == T(app.condominio.domain.enums.TipoClasseCategoria).S} ? 'sub' : ''))}" th:if="${haCondominio}" th:object="${categoria}" th:method="${categoria.idCategoria == null} ? post : put">
			<fieldset th:disabled="${param.somenteLeitura}" class="mb-3">
				<input th:if="${#ctx.classe == T(app.condominio.domain.enums.TipoClasseCategoria).C}" type="hidden" th:field="*{condominio}" /> <input type="hidden" th:field="*{idCategoria}" />
				<div class="card">
					<ul class="list-group list-group-flush" id="accordion">
						<li class="list-group-item">
							<p class="text-primary">
								<i class="fas fa-list-ol"></i> Informações principais
							</p>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label>Classe <a class="text-secondary" tabindex="-1" data-toggle="modal" href="#modalInfo" title="O que é isso?"><i class="fas fa-question-circle"></i></a></label> <select required class="custom-select" name="form-accordion-select" data-form="main form" data-parent="#accordion .collapse" autofocus th:disabled="${categoria.idCategoria != null}">
										<option th:unless="${param.somenteLeitura}" value="" hidden="true">Selecione</option>
										<option th:each="t : ${tiposClasseCategoria}" th:value="${t}" th:text="${t.nome}" th:selected="${t == #ctx.classe}" data-toggle="collapse" th:data-target="'#'+ ${t}" th:data-form-action="@{/sindico/{sub}categorias/cadastro/(sub=(${t == T(app.condominio.domain.enums.TipoClasseCategoria).S} ? 'sub' : ''))}"></option>
									</select>
									<div class="invalid-feedback">Campo obrigatório.</div>
									<small th:text="${categoria.idCategoria != null} ? 'Este campo não pode ser modificado.' : _">Após salvar, este campo não poderá ser modificado.</small>
								</div>
								<div class="form-group col-md-6">
									<label>Categoria superior</label> <select class="custom-select" id="categoriaPai" th:errorclass="is-invalid" th:field="*{categoriaPai}">
										<option th:unless="${param.somenteLeitura}" value="" hidden="true">Selecione</option>
										<option value="">(Nenhuma)</option>
										<option th:each="c : ${categorias}" th:value="${c.idCategoria}" th:text="${c}"></option>
									</select>
									<div class="invalid-feedback" th:errors="*{categoriaPai}"></div>
								</div>
							</div>
							<div class="form-group">
								<label>Descrição</label> <input class="form-control" type="text" th:errorclass="is-invalid" th:field="*{descricao}" placeholder="Uma descrição completa" />
								<div class="invalid-feedback" th:errors="*{descricao}"></div>
							</div>
						</li>
						<li class="list-group-item collapse show" id="C" th:if="${#ctx.classe == T(app.condominio.domain.enums.TipoClasseCategoria).C}">
							<p class="text-primary">
								<i class="fas fa-tasks"></i> Dados da categoria sintética
							</p>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label>Ordenação</label> <input class="form-control" type="text" th:errorclass="is-invalid" th:field="*{ordem}" placeholder="Nº de sequência" />
									<div class="invalid-feedback" th:errors="*{ordem}"></div>
									<small>Dica: separe níveis por pontos (exemplo: 1.1.3).</small>
								</div>
								<div class="form-group col-md-6">
									<label>Tipo</label> <select class="custom-select" id="tipo" th:errorclass="is-invalid" th:field="*{tipo}" th:disabled="${categoria.idCategoria != null}">
										<option th:unless="${param.somenteLeitura}" value="" hidden="true">Selecione</option>
										<option th:each="tipo : ${tiposCategoria}" th:value="${tipo}" th:text="${tipo.nome}"></option>
									</select>
									<div class="invalid-feedback" th:errors="*{tipo}"></div>
								</div>
							</div>
						</li>
						<li class="list-group-item collapse" id="C" th:unless="${#ctx.classe == T(app.condominio.domain.enums.TipoClasseCategoria).C}">
							<p class="text-primary">
								<i class="fas fa-tasks"></i> Dados da categoria sintética
							</p>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label>Ordenação</label> <input disabled class="form-control" type="text" name="ordem" id="ordem" placeholder="Nº de sequência" /> <small>Dica: separe níveis por pontos (exemplo: 1.1.3).</small>
								</div>
								<div class="form-group col-md-6">
									<label>Tipo</label> <select disabled class="custom-select" id="tipo" name="tipo">
										<option th:unless="${param.somenteLeitura}" value="" hidden="true">Selecione</option>
										<option th:each="tipo : ${tiposCategoria}" th:value="${tipo}" th:text="${tipo.nome}"></option>
									</select>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</fieldset>
			<button th:unless="${param.somenteLeitura}" type="submit" class="btn btn-primary">Salvar</button>
			<a class="btn btn-secondary" th:href="@{/sindico/categorias}" role="button" th:text="${param.somenteLeitura}?'Voltar':_">Cancelar</a>
		</form>
		</main>
		<!--/* Modal */-->
		<div th:unless="${param.somenteLeitura}" class="modal fade" id="modalInfo" tabindex="-1" role="dialog">
			<div class="modal-dialog  modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Classes de categorias</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<div class="modal-body text-justify">
						<p>Categorias são divididas em duas classes, as sintéticas e as analíticas. Juntas, elas formam uma estrutura de categorias organizadas hierarquicamente.</p>
						<p>
							<span class="font-weight-bold">Categorias sintéticas</span> são usadas para criar uma hierarquia entre as categorias, podendo ser criadas uma sob as outras. Elas são totalizadoras e não podem receber lançamentos diretamente, assim o valor de uma categoria sintética será a soma dos valores das suas categorias inferiores.
						</p>
						<p>
							<span class="font-weight-bold">Categorias analíticas</span> são as que recebem os lançamentos e seu valor será a soma de todos os lançamentos recebidos. Essas categorias precisam ter uma categoria sintética superior.
						</p>
						<p>Confira o exemplo abaixo:</p>
						<table class="table table-sm mb-0">
							<thead class="thead-light">
								<tr>
									<th scope="col">Categoria</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-uppercase font-weight-bold">1 - Receita <span class="ml-2 float-right badge badge-pill badge-secondary text-lowercase">Sintética</span></td>
								</tr>
								<tr>
									<td class="text-uppercase">1.1 - Mensalidades <span class="ml-2 float-right badge badge-pill badge-secondary text-lowercase">Sintética</span></td>
								</tr>
								<tr>
									<td class="font-weight-light">1.1.1 - Boletos recebidos <span class="ml-2 float-right badge badge-pill badge-primary text-lowercase">Analítica</span></td>
								</tr>
								<tr>
									<td class="font-weight-light">1.1.2 - Juros recebidos <span class="ml-2 float-right badge badge-pill badge-primary text-lowercase">Analítica</span></td>
								</tr>
								<tr>
									<td class="text-uppercase">1.2 - Outras <span class="ml-2 float-right badge badge-pill badge-secondary text-lowercase">Sintética</span></td>
								</tr>
								<tr>
									<td class="font-weight-light">1.2.1 - Taxa de mudança <span class="ml-2 float-right badge badge-pill badge-primary text-lowercase">Analítica</span></td>
								</tr>
								<tr>
									<td class="text-uppercase font-weight-bold">2 - Despesa <span class="ml-2 float-right badge badge-pill badge-secondary text-lowercase">Sintética</span></td>
								</tr>
								<tr>
									<td class="text-uppercase">2.1 - Consumo <span class="ml-2 float-right badge badge-pill badge-secondary text-lowercase">Sintética</span></td>
								</tr>
								<tr>
									<td class="font-weight-light">2.1.1 - Água <span class="ml-2 float-right badge badge-pill badge-primary text-lowercase">Analítica</span></td>
								</tr>
								<tr>
									<td class="font-weight-light">2.1.2 - Energia <span class="ml-2 float-right badge badge-pill badge-primary text-lowercase">Analítica</span></td>
								</tr>
								<tr>
									<td class="text-uppercase">2.2 - Limpeza <span class="ml-2 float-right badge badge-pill badge-secondary text-lowercase">Sintética</span></td>
								</tr>
								<tr>
									<td class="font-weight-light">2.2.1 - Diariasta <span class="ml-2 float-right badge badge-pill badge-primary text-lowercase">Analítica</span></td>
								</tr>
								<tr>
									<td class="font-weight-light">2.2.2 - Material de limpeza <span class="ml-2 float-right badge badge-pill badge-primary text-lowercase">Analítica</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>
	</th:block>

</body>
</html>