
<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Contas</title>

</head>
<body>
	<th:block th:fragment="conteudo">
		<main role="main">
		<h3 class="font-weight-light float-left">Contas</h3>
		<div class="btn-group mb-3 float-right">
			<a class="btn btn-light" th:href="@{/sindico/contas/cadastro}"><i class="fas fa-plus"></i> Nova</a>
			<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" th:href="@{/sindico/contas/cadastro}">Criar conta</a> <a class="dropdown-item" href="#">Importar</a>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover table-sm crud-list mb-0">
				<caption class="pb-0">
					<span th:text="${#lists.isEmpty(contas)} ? 'Nenhuma' : 'Há '+${#lists.size(contas)}"></span> <span th:text="${#lists.size(contas)>1} ? 'contas cadastradas' : 'conta cadastrada'"></span>.
				</caption>
				<thead class="thead-light">
					<tr>
						<th scope="col">Sigla</th>
						<th scope="col">Descrição</th>
						<th scope="col">Saldo</th>
						<th scope="col" title="Banco, Agência, Conta">Conta Bancária</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="conta : ${contas}">
						<th scope="row" th:text="${conta.sigla}"></th>
						<td th:text="${conta.descricao}"></td>
						<td th:text="|R$ ${conta.saldo}|"></td>
						<td th:text="${conta instanceof T(app.condominio.domain.ContaBancaria)} ? (${conta.banco}+' '+${conta.agencia}+(${conta.agenciaDv}?:'')+' '+${conta.conta}+(${conta.contaDv}?:'')) : _"></td>
						<td><a class="btn btn-outline-secondary btn-sm" th:href="@{/sindico/contas/{idConta}/cadastro(idConta=${conta.idConta},somenteLeitura)}"><i class="fas fa-eye"></i><span> Ver</span></a> <a class="btn btn-outline-primary btn-sm" th:href="@{/sindico/contas/{idConta}/cadastro(idConta=${conta.idConta})}"><i class="fas fa-edit"></i><span> Editar</span></a> <a class="btn btn-outline-danger btn-sm" data-toggle="modal" href="#modalExcluir" th:data-idobj="${conta.idConta}" th:data-obs="${conta.sigla}"><i class="fas fa-trash-alt"></i><span> Excluir</span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		</main>
		<!--/* Modal */-->
		<div th:unless="${#lists.isEmpty(contas)}" class="modal fade" id="modalExcluir" tabindex="-1" role="dialog">
			<div class="modal-dialog  modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Confirmar Exclusão</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<form th:action="@{/sindico/contas/excluir}" th:method="delete" novalidate>
						<input type="hidden" id="idObj" name="idObj" />
						<div class="modal-body">
							Confirma a exclusão da conta '<span></span>'?
							<div class="alert alert-danger mt-3 mb-0">As movimentações feitas nesta conta, se houver, também serão excluídas.</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-danger">Excluir</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</th:block>

</body>
</html>