
<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Condomínio App</title>

</head>
<body>
	<th:block th:fragment="conteudo">
		<main role="main">
		<h3 class="font-weight-light">Painel do Condomínio</h3>
		<div class="row mt-3">
			<div class="col-md-3 col-sm-6 mb-4">
				<div class="card border-success">
					<div class="card-body text-success order-1 row">
						<h5 class="card-title">Saldo em conta</h5>
						<p class="card-text">R$ 3.256,69</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-4 order-3 order-sm-2">
				<div class="card border-danger">
					<div class="card-body text-danger">
						<h5 class="card-title">Inadimplência</h5>
						<p class="card-text">R$ 7.650,20</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-4 order-5 order-sm-3">
				<div class="card border-dark">
					<div class="card-body text-dark">
						<h5 class="card-title">Info</h5>
						<p class="card-text">...</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 mb-4 order-6 order-sm-4">
				<div class="card border-dark">
					<div class="card-body text-dark">
						<h5 class="card-title">Info</h5>
						<p class="card-text">...</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 mb-4 order-2 order-sm-5">
				<div class="card border-black">
					<div class="card-header">Resumo do Mês</div>
					<div class="card-body ">
						<canvas id="resumoMensal" style="max-height: 200px"></canvas>
					</div>
				</div>
			</div>
			<div class="col-md-6 mb-4 order-4 order-sm-6">
				<div class="card border-black">
					<div class="card-header">Orçamento do Período</div>
					<div class="card-body ">
						<canvas id="orcadoRealizado" style="max-height: 200px"></canvas>
					</div>
				</div>
			</div>
		</div>
		</main>
	</th:block>
	<th:block th:fragment="jsAdicional">
		<!--/*
		<script th:src="@{/js/moment.min.js}"></script>
		<script th:src="@{/js/Chart.js}"></script>
		*/-->
		<script th:src="@{/js/Chart.min.js}"></script>
		<script>
			new Chart(document.getElementById("resumoMensal"), {
				type : 'horizontalBar',
				data : {
					labels : [ 'Receitas', 'Despesas' ],
					datasets : [ {
						data : [ 1589.00, 1350.10 ],
						label : 'Total (R$)',
						backgroundColor : [ 'rgba(75, 192, 192, 0.5)',
								'rgba(255, 99, 132, 0.5)' ],
						borderColor : [ 'rgba(75, 192, 192, 1)',
								'rgba(255,99,132,1)' ],
						borderWidth : 1
					} ]
				},
				options : {
					maintainAspectRatio : false,
					animation : {
						duration : 3000
					},
					scales : {
						xAxes : [ {
							display : true,
							ticks : {
								display : false,
								beginAtZero : true,
								callback : function(value, index, values) {
									return 'R$ ' + value;
								}
							},
							gridLines : {
								display : false,
								drawBorder : false
							}
						} ],
						yAxes : [ {
							display : true,
							ticks : {
								display : true
							},
							gridLines : {
								display : false,
								drawBorder : true
							}
						} ]
					},
					legend : {
						display : false
					}
				}
			});
			new Chart(document.getElementById("orcadoRealizado"), {
				type : 'bar',
				data : {
					labels : [ 'Receitas', 'Despesas' ],
					datasets : [
							{
								data : [ 1589.00, 1350.10 ],
								label : 'Orçado (R$)',
								backgroundColor : [ 'rgba(75, 192, 192, 0.75)',
										'rgba(255, 99, 132, 0.75)' ],
								borderColor : [ 'rgba(75, 192, 192, 1.5)',
										'rgba(255,99,132,1.5)' ],
								borderWidth : 1
							},
							{
								data : [ 1000, 800 ],
								label : 'Realizado (R$)',
								backgroundColor : [ 'rgba(75, 192, 192, 0.25)',
										'rgba(255, 99, 132, 0.25)' ],
								borderColor : [ 'rgba(75, 192, 192, 0.5)',
										'rgba(255,99,132,0.5)' ],
								borderWidth : 1
							} ]
				},
				options : {
					maintainAspectRatio : false,
					animation : {
						duration : 3000
					},
					scales : {
						yAxes : [ {
							display : false,
							ticks : {
								display : true,
								beginAtZero : true,
								callback : function(value, index, values) {
									return 'R$ ' + value;
								}
							},
							gridLines : {
								display : false,
								drawBorder : false
							}
						} ],
						xAxes : [ {
							display : true,
							ticks : {
								display : true
							},
							gridLines : {
								display : false,
								drawBorder : true
							}
						} ]
					},
					legend : {
						display : false
					}
				}
			});
		</script>

	</th:block>
</body>
</html>