
<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Condôminos</title>

</head>
<body>
	<th:block th:fragment="conteudo">
		<main role="main">
		<h3 class="font-weight-light float-left">Condôminos</h3>
		<div class="btn-group mb-3 float-right">
			<a class="btn btn-light" th:href="@{/sindico/condominos/cadastro}"><i class="fas fa-plus"></i> Novo</a>
			<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" th:href="@{/sindico/condominos/cadastro}">Criar condômino</a> <a class="dropdown-item" href="#">Importar</a>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover table-sm crud-list mb-0">
				<caption class="pb-0">
					<span th:text="${#lists.isEmpty(pessoas)} ? 'Nenhum' : 'Há '+${#lists.size(pessoas)}"></span> <span th:text="${#lists.size(pessoas)>1} ? 'condôminos cadastrados' : 'condômino cadastrado'"></span>.
				</caption>
				<thead class="thead-light">
					<tr>
						<th scope="col">Nome</th>
						<th scope="col">CPF/CNPJ</th>
						<th scope="col">Telefone</th>
						<th scope="col">Celular</th>
						<th scope="col">E-mail</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pessoa : ${pessoas}">
						<th scope="row" th:text="${pessoa instanceof T(app.condominio.domain.PessoaFisica)} ? (|${pessoa.nome} ${pessoa.sobrenome}|) : ${pessoa.nome}"></th>
						<td th:text="${pessoa instanceof T(app.condominio.domain.PessoaFisica)} ? ${pessoa.cpf} : ${pessoa.cnpj}"></td>
						<td th:text="${pessoa.telefone}"></td>
						<td th:text="${pessoa.celular}"></td>
						<td th:text="${pessoa.email}"></td>
						<td><a class="btn btn-outline-secondary btn-sm" th:href="@{/sindico/condominos/{idPessoa}/cadastro(idPessoa=${pessoa.idPessoa},somenteLeitura)}"><i class="fas fa-eye"></i><span> Ver</span></a> <a class="btn btn-outline-primary btn-sm" th:href="@{/sindico/condominos/{idPessoa}/cadastro(idPessoa=${pessoa.idPessoa})}"><i class="fas fa-edit"></i><span> Editar</span></a> <a class="btn btn-outline-danger btn-sm" data-toggle="modal" href="#modalExcluir" th:data-idobj="${pessoa.idPessoa}" th:data-obs="${pessoa.nome}"><i class="fas fa-trash-alt"></i><span> Excluir</span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		</main>
		<!--/* Modal */-->
		<div th:unless="${#lists.isEmpty(pessoas)}" class="modal fade" id="modalExcluir" tabindex="-1" role="dialog">
			<div class="modal-dialog  modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Confirmar Exclusão</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<form th:action="@{/sindico/condominos/excluir}" th:method="delete" novalidate>
						<input type="hidden" id="idObj" name="idObj" />
						<div class="modal-body">
							Confirma a exclusão do condômino '<span></span>'?
							<div class="alert alert-danger mt-3 mb-0">As relações deste condômino com moradias, se houver, também serão excluídas.</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-danger">Excluir</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</th:block>

</body>
</html>