
<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:fragment="cssAdicional"></th:block>
<title>Inadimplência</title>

</head>
<body>
	<th:block th:fragment="conteudo">
		<main role="main">
		<h3 class="font-weight-light">Inadimplência</h3>
		<div th:unless="${haCondominio}" class="alert alert-warning">
			<h6>Condomínio não cadastrado</h6>
			Para gerar este relatório é preciso completar o cadastro do seu condomínio, <a class="text-warning" th:href="@{/sindico/condominio/cadastro}">clique aqui</a>.
		</div>
		<p th:if="${haCondominio}">Este relatório traz em detalhes a inadimplência do Condomínio.</p>
		<form class="needs-validation" th:if="${haCondominio}" target="_blank" th:action="@{/sindico/relatorios/inadimplencia}" th:method="post" novalidate>
			<fieldset class="mb-3">
				<div class="card">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<p class="text-primary">
								<i class="fas fa-filter"></i> Filtros
							</p>
							<div class="form-row">Este relatório não possui filtros.</div>
						</li>
					</ul>
				</div>
			</fieldset>
			<button type="submit" class="btn btn-primary">Gerar</button>
			<a class="btn btn-secondary" th:href="@{/sindico/relatorios}" role="button">Voltar</a>
		</form>
		</main>
	</th:block>
	<th:block th:fragment="relatorio">
		<main role="main">
		<div id="relatorio" class="page A4 retrato">
			<div id="relatorio_cabecalho" class="text-center" th:object="${condominio}">
				<h5 class="font-weight-bold" th:text="*{razaoSocial}"></h5>
				<p>
					<small th:text="*{endereco} +', '+ *{numeroEnd}"></small><small th:unless="${condominio.complementoEnd==null}" th:text="', '+ *{complementoEnd}"></small><br /> <small th:text="*{bairro} + ', ' + *{cidade} + ' - ' + *{estado.nome}"></small><br /> <small th:text="'Síndico: ' + *{sindico.nomeCompleto()}"></small>
				</p>
			</div>
			<div id="relatorio_titulo" class="text-center">
				<h6 class="font-weight-bold">Inadimplência</h6>
				<p>
					<small th:text="'Cobranças vencidas até: ' + ${#temporals.format(fim,'dd/MM/yyyy')}"></small>
				</p>
			</div>
			<div id="relatorio_conteudo">
				<table class="table table-sm table-borderless" th:each="entrada : ${inadimplencia}">
					<thead class="border-bottom">
						<tr>
							<th scope="colgroup" colspan="7" th:text="'Moradia: ' + ${entrada.key}"></th>
						</tr>
						<tr>
							<th>Cobrança</th>
							<th>Vencimento</th>
							<th>Valor</th>
							<th>Multa</th>
							<th>Juros</th>
							<th>Outros</th>
							<th>Total atual</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cobranca : ${entrada.value}">
							<td th:text="${cobranca}"></td>
							<td th:text="${#temporals.format(cobranca.dataVencimento,'dd/MM/yyyy')}"></td>
							<td th:text="'R$ ' + ${cobranca.valor}"></td>
							<td th:text="'R$ ' + ${cobranca.multa}"></td>
							<td th:text="'R$ ' + ${cobranca.jurosMora}"></td>
							<td th:text="'R$ ' + ${cobranca.outrosAcrescimos - cobranca.desconto - cobranca.abatimento - cobranca.outrasDeducoes}"></td>
							<td th:text="'R$ ' + ${cobranca.total}"></td>
						</tr>
						<tr>
							<td colspan="5"></td>
							<th scope="row">Subtotal</th>
							<td th:text="'R$ ' + ${subtotais.get(entrada.key)}"></td>
						</tr>
					</tbody>
				</table>
				<table class="table table-sm table-borderless" th:if="${#maps.isEmpty(inadimplencia)}">
					<tbody>
						<tr>
							<td>Sem movimento.</td>
						</tr>
					</tbody>
				</table>
				<p>
					<b>Total:</b> <span th:text="'R$ '+ ${total}"></span>
				</p>
			</div>
		</div>
		</main>
	</th:block>
	<th:block th:fragment="jsAdicional"></th:block>
</body>
</html>