
<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Relatórios</title>

</head>
<body>
	<th:block th:fragment="conteudo">
		<main role="main">
		<h3 class="font-weight-light">Relatórios</h3>
		<ul class="list-group accordion mt-3" id="listaRelatorios">
			<li class="list-group-item bg-light" data-toggle="collapse" data-target="#relatoriosCadastrais">Relatórios cadastrais
			</li>
			<li id="relatoriosCadastrais" class="collapse list-group-item" data-parent="#listaRelatorios">
				<div class="row">
					<div class="col-12 col-sm-6 col-md-4 col-lg-3">Cadastro do condomínio</div>
					<div class="col-12 col-sm-6 col-md-4 col-lg-3">Cadastro de blocos</div>
					<div class="col-12 col-sm-6 col-md-4 col-lg-3">Cadastro de moradias</div>
					<div class="col-12 col-sm-6 col-md-4 col-lg-3">Cadastro de condôminos</div>
				</div>
			</li>
			<li class="list-group-item bg-light" data-toggle="collapse" data-target="#relatoriosFinanceiros">Relatórios financeiros
			</li>
			<li id="relatoriosFinanceiros" class="collapse list-group-item" data-parent="#listaRelatorios">
				<div class="row">
					<div class="col-12 col-sm-6 col-md-4 col-lg-3">Contas bancárias</div>
					<div class="col-12 col-sm-6 col-md-4 col-lg-3">Inadimplência</div>
				</div>
			</li>
			<li class="list-group-item bg-light" data-toggle="collapse" data-target="#relatoriosContabeis">Relatórios contábeis
			</li>
			<li id="relatoriosContabeis" class="collapse list-group-item" data-parent="#listaRelatorios">
				<div class="row">
					<div class="col-12 col-sm-6 col-md-4 col-lg-3">Cadastro de categorias</div>
					<div class="col-12 col-sm-6 col-md-4 col-lg-3">Orçado x Realizado</div>
					<div class="col-12 col-sm-6 col-md-4 col-lg-3"><a th:href="@{/sindico/relatorios/balancete}">Balancete</a></div>
					<div class="col-12 col-sm-6 col-md-4 col-lg-3"><a th:href="@{/sindico/relatorios/livroCaixa}">Livro Caixa</a></div>
				</div>
			</li>
		</ul>
		</main>
	</th:block>
	<th:block th:fragment="jsAdicional">
	</th:block>
</body>
</html>