
<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Registrar</title>

</head>
<body>
	<th:block th:fragment="conteudo">
		<main role="main" class="container">
		<h3 class="font-weight-light">Criar conta</h3>
		<p>Obrigado por escolher o Condomínio App! Preencha os dados abaixo para se registrar.</p>
		<div class="card mb-3">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<p class="text-success mb-0">
						<i class="far fa-check-circle"></i> Escolha seu plano
					</p>
				</li>
				<li class="list-group-item">
					<p class="text-success mb-0">
						<i class="far fa-check-circle"></i> Responsável pelo Condomínio
					</p>
				</li>
				<li class="list-group-item">
					<p class="text-primary">
						<i class="far fa-circle"></i> Informações do Condomínio
					</p>
					Formulário aqui.
			</ul>
		</div>
		</main>
	</th:block>

</body>
</html>