
<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Página Inicial</title>

</head>
<body>
	<th:block th:fragment="conteudo">
		<div class="container">
			<h1>1. Introduction</h1>
			<p>Thymeleaf is a Java template engine for processing and creating HTML, XML, JavaScript, CSS and plain text. For an intro to Thymeleaf and Spring, have a look at this write-up.</p>
			<p>In this writeup we’ll focus on templating – something that most reasonably complex sites need to do one way or another. Simplu put, pages need to share common page components like the header, footer, menu and potentially much more.</p>
			<p>Thymeleaf addresses that with custom dialects – you can build layouts using the Thymeleaf Standard Layout System or the Layout Dialect – which uses the decorator pattern for working with the layout files.</p>
			<p>In this article, we’ll discuss a handful features of Thymeleaf Layout Dialect – which can be found here. To be more specific, we will discuss its features like creating layouts, custom titles or head element merging.</p>
			<h1>2. Maven Dependencies</h1>
			<p>First, let’s see the required configuration needed to integrate Thymeleaf with Spring. The thymeleaf-spring library is required in our dependencies:</p>
		</div>
	</th:block>

</body>
</html>