
<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Condomínio App</title>

</head>
<body>
	<th:block th:fragment="conteudo">
		<main role="main" class="container">
		<div class="jumbotron mb-0 m-auto">
			<h1 class="display-4">Bem vindo!</h1>
			<p class="lead">No Condomínio App você organiza todas as finanças do seu condomínio de forma simples e rápida. Adeus planilhas e papel, modernize seu condomínio já!</p>
			<hr class="my-4">
			<p>Síndico, faça seu cadastro no botão abaixo e comece a aproveitar as vantagens do Condomínio App!</p>
			<a class="btn btn-primary btn-lg" th:href="@{/conta/cadastrar}" role="button">Registrar</a><a class="ml-3" th:href="@{/entrar}">Já tenho uma conta.</a>
		</div>
		</main>
	</th:block>
	<th:block th:fragment="jsAdicional"></th:block>
</body>
</html>