
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<th:block th:fragment="lateral">
		<nav id="sidebar" class="bg-primary navbar-dark active">
			<ul class="list-unstyled navbar-nav">
				<li class="nav-item"><a class="nav-link" href="#condominioSubmenu" data-toggle="collapse" title="Condomínio"> <i class="fas fa-building"></i> Condomínio
				</a>
					<ul class="collapse list-unstyled" id="condominioSubmenu">
						<li><a class="nav-link" th:href="@{/sindico/condominio/cadastro}" title="Cadastro do Condomínio">Cadastro</a></li>
						<li><a class="nav-link" th:href="@{/sindico/blocos}" title="Cadastro de Blocos">Blocos</a></li>
						<li><a class="nav-link" href="#" title="Cadastro de Unidades Habitacionais">Unidades</a></li>
						<li><a class="nav-link" href="#" title="Cadastro de Moradores">Moradores</a></li>
					</ul></li>
				<li class="nav-item"><a class="nav-link" href="#homeSubmenu2" data-toggle="collapse"> <i class="fas fa-home"></i> Home Com Nome Grande Para Testar o Overflow
				</a>
					<ul class="collapse list-unstyled" id="homeSubmenu2">
						<li><a class="nav-link" href="#">Sub com nome grande para testar o overflow</a></li>
						<li><a class="nav-link" href="#">Home 2</a></li>
						<li><a class="nav-link" href="#">Home 3</a></li>
					</ul></li>
				<li class="nav-item"><a class="nav-link" href="#homeSubmenu3" data-toggle="collapse"> <i class="fas fa-home"></i> Home
				</a>
					<ul class="collapse list-unstyled" id="homeSubmenu3">
						<li><a class="nav-link" href="#">Home 1</a></li>
						<li><a class="nav-link" href="#">Home 2</a></li>
						<li><a class="nav-link" href="#">Home 3</a></li>
					</ul></li>
				<li class="active nav-item"><a class="nav-link" href="#"> <i class="fas fa-briefcase"></i> About
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#pageSubmenu" data-toggle="collapse"> <i class="fas fa-copy"></i> Pages
				</a>
					<ul class="collapse list-unstyled" id="pageSubmenu">
						<li><a class="nav-link" href="#">Page 1</a></li>
						<li><a class="nav-link" href="#">Page 2</a></li>
						<li><a class="nav-link" href="#">Page 3</a></li>
					</ul></li>
				<li class="nav-item"><a class="nav-link" href="#"> <i class="fas fa-link"></i> Portfolio
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#"> <i class="fas fa-paperclip"></i> FAQ
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#"> <i class="far fa-envelope"></i> Contact
				</a></li>
			</ul>
		</nav>
		<div id="sidebarCollapse" class="bg-primary text-light active"></div>
	</th:block>
</body>
</html>