
<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<!-- Meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Web App -->
<meta name="application-name" content="Condomínio App" />
<meta name="msapplication-config" th:content="@{/misc/ieconfig.xml}" />
<meta name="theme-color" content="#007bff">
<link rel="manifest" th:href="@{/misc/manifest.json}">
<link rel="apple-touch-icon" th:href="@{/misc/icon-192x192.png}">

<!-- CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}" />
<link rel="stylesheet" th:href="@{/css/scroll.min.css}" />
<link rel="stylesheet" th:href="@{/css/meu.css}" />

<title th:replace="'site/' + ${conteudo} :: title"></title>
</head>
<body id="site">
	<th:block th:replace="fragmentos/cabecalho :: cabecalho" />
	<th:block th:replace="'site/' + ${conteudo} :: conteudo" />
	<th:block th:replace="fragmentos/rodape :: rodape" />

	<!-- JavaScript -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/scroll.min.js}"></script>
	<script th:src="@{/js/meu.js}"></script>
</body>
</html>